a {
    color: #0060B6;
    text-decoration: none;
    color: inherit;
}

a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}
.otherButton {
    color: #1D9AF2;
    background-color: #292D3E;
    border: 1px solid #1D9AF2;
    border-radius: 4px;
    padding: 0 15px;
    cursor: pointer;
    height:32px;
    font-size:14px;
    transition: all 0.2s ease-in-out;
    }
    button:hover {
    transform: scale(1.1);
    }
.container{
    .row{
        .col-md-6-mt-6{
            margin-top: 50px;
        }
    }
}